@import "tailwindcss"; 
@import "@nuxt/ui";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --hover-button: #A0D033;
  --ijo-terangs: #A0D033;
  --bg-header: rgba(0, 0, 0, 0.12);
  --bg-header-blur: 20px;
  --ui-header-height: --spacing(24);
}


body {
  font-family: 'Nunito', sans-serif !important;
  @apply antialiased text-default bg-default scheme-light dark:scheme-dark;
  
}

a {
  color: inherit;
  text-decoration: none;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.5s ease;
}

.page-enter-from {
  opacity: 0;
  transform: translateY(10px);
}

.page-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}