@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@import "tailwindcss"; 
@import "@nuxt/ui";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --hover-button: #A0D033;
  --bg-header: rgba(0, 0, 0, 0.12);
  --bg-header-blur: 20px;
  --ui-header-height: --spacing(24);
  font-family: 'Nunito', sans-serif;
}

button, span, div {
  font-family: 'Nunito', sans-serif !important;
}

body {
  font-family: 'Nunito', sans-serif !important;
  @apply antialiased text-default bg-default scheme-light dark:scheme-dark;
  
}

a {
  color: inherit;
  text-decoration: none;
}